---
Checks: >
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  -readability-identifier-naming,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -modernize-avoid-c-arrays
WarningsAsErrors: ''
HeaderFilterRegex: '.*(include|src|tests).*'
FormatStyle: file
